<!--因为用Maven创建项目时Servlet创建JavaWeb项目时Servlet版本可能较低，需要修改Servlet版本为3.1 可以从本地Tomcat目录下的conf中的web.xml文件中把文件头直接拷贝过来-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <!--修改Servlet版本为3.1-->

  <!--配置Spring MVC的中央控制器 DispatcherServlet-->
  <servlet>
    <servlet-name>seckill-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--
    配置Spring MVC需要加载的配置文件
    ApplicationContext.xml
    Mybatis -> Spring -> Spring MVC
  -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:Spring/ApplicationContext.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>seckill-dispatcher</servlet-name>
    <!--默认匹配所有的请求-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
